<form method="POST">
  <label for="input-username">Username</label>
  <input id="input-username" type="text" placeholder="Username" name="username">
  
  <label for="input-password">Password</label>
  <input id="input-password" type="password" placeholder="Password" name="password">

  <button>Sign In</button>
</form>

{{#if error}}
  <p>There was an error signing up</p>
{{/if}}

<a href="/"> Home</a> <br>