<h2>Main Page</h2>

<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia.glamour.com%2Fphotos%2F5851645882fb909710ef9b86%2Fmaster%2Fpass%2Fmake-america-kitten-again.jpg&f=1&nofb=1" alt="Kitten" width="50%">

<br>
<a href="/">Home</a> <br>